.qlse__checkbox {
	&--loading {
		display: flex;
		align-items: center;
		> svg.components-spinner {
			margin-top: 0;
		}
	}
	&--disabled .components-base-control__field {
		opacity: 0.5;
		pointer-events: none;
	}
}
