.qlse__components__tooltip {
	vertical-align: inherit;
	display: inline-flex;
	align-items: center;
	padding: 0 5px;
	position: relative;
	&__button {
		cursor: pointer;
		display: flex;

		&__text {
			color: #2271b1;
		}
		&__text:hover {
			text-decoration: underline;
		}
		> svg {
			fill: currentColor;
		}
	}
	&__popover {
		> .components-popover__content {
			width: 260px;
			height: auto;
			max-width: 260px;
			max-height: 260px !important;
			padding: 15px;
			border-radius: 2px;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-size: 14px;
				line-height: 1.5;
				margin-top: 0;
			}

			p {
				font-size: 14px;
				font-weight: normal;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:only-child {
					margin: 0;
				}
			}

			hr {
				margin: 1em 0;
				border-bottom: 1px solid #f0f0f0;
				border-top: none;
				// margin: 1.5em 0;
			}
		}
	}
	&--disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
