.qlse_quadlayers__logo {
	background-color: #006bff !important;
	background-repeat: no-repeat !important;
	background-position: top center;
	background-size: 130px 130px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	padding-top: 120px;
	height: 40px;
	display: inline-block;
	width: 140px;
}
