.qlse__multiple-selector {
	display: flex;
	align-items: center;
	align-content: center;
	&--loading {
		margin-left: 5px;
	}
	&--input-disabled {
		opacity: 0.3;
		pointer-events: none !important;
	}
	// display: flex;
	label {
		display: none !important;
	}

	.components-form-token-field {
		width: 267px !important;
	}

	.components-flex {
		padding: calc(2px) !important;
		gap: calc(2px) !important;
		background-color: white !important;
		overflow: auto;
		max-height: 300px;
	}

	.components-spacer {
		display: none !important;
	}
}
